USE [master]
GO
/****** Object:  Database [denemeDB]    Script Date: 3.07.2018 00:15:42 ******/
CREATE DATABASE [denemeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'denemeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\denemeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'denemeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\denemeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [denemeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [denemeDB]
GO
USE [denemeDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3.07.2018 00:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[IsValid] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SearchBeforeInserting]    Script Date: 3.07.2018 00:15:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchBeforeInserting]
@name nvarchar(50),
@surname nvarchar(50)
AS
set nocount on
BEGIN
declare @result nvarchar(150)
select @result = count(u.ID) from Users as u where u.Name = @name and u.Surname = @surname
if(@result = 0) begin
insert into Users (Name,Surname,IsValid) values (@name,@surname,1)
set @result = 0
end
else begin
set @result = 1
end
select @result as "result"
END
GO
USE [master]
GO
